/* ---------- Hero Image ---------- */

.hero-image {
  position: relative;
  height: 27rem;
}

.hero-image .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- Container ---------- */

.hero-banner {
  text-align: center;
}

.hero-banner .container {
  position: relative;
  margin-top: -5.5rem;
  font-family: var(--display-font);
  color: var(--text-color-alt);
  font-size: var(--bigger-body-size);
  font-weight: var(--medium-font);
  letter-spacing: 0.0005;
  line-height: 1.25;
}

.hero-banner .product-title {
  font-size: var(--bigger-body-size);
  margin-bottom: 0.5rem;
}

.hero-banner .title {
  font-size: 3rem;
  line-height: 1.05;
  letter-spacing: -0.015em;
  font-weight: var(--bold-font);
  padding-bottom: 1.25rem;

  /* background gradient */

  background-image: radial-gradient(#eff1ff, #000 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 50% 75%;
  background-size: 150% 200%;
}

.hero-banner .description {
  margin-bottom: 2.5rem;
}

.hero-banner :is(.subtitle, .cta-container) {
  font-size: 1.25rem;
}

.hero-banner .subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.hero-banner .subtitle .chip {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
}

.hero-banner .cta-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-banner .hero-cta {
  color: var(--text-color);
  font-weight: var(--normal-font);
}

/* ---------- tablet styles ---------- */

@media screen and (min-width: 734px) {
  .hero-image {
    width: 66rem;
    height: 39rem;
  }

  .hero-banner .container {
    margin-top: -8rem;
  }

  .hero-banner .product-title {
    margin-bottom: 1rem;
  }

  .hero-banner .title {
    font-size: 5rem;
  }

  .hero-banner :is(.subtitle, .cta-container) {
    font-size: var(--big-body-size);
    flex-direction: row;
  }

  .hero-banner .subtitle .chip {
    --size: 6rem;
  }

  .hero-banner .cta-container {
    gap: 0;
  }

  .hero-banner .hero-cta:first-of-type::after {
    content: '|';
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    margin-top: -2.5rem;
  }

  .hero-image {
    width: 84rem;
    height: 50rem;
  }

  .hero-banner .container {
    margin-top: -13.5rem;
  }

  .hero-banner .title {
    font-size: 6rem;
  }

  .hero-banner .description {
    max-width: 56rem;
    margin-inline: auto;
  }
}
